/* Only edit the .scss file. The main.css file will be overritten!!! */
$medium_green:  #5e816c;
$light_green: lighten( $medium_green, 25% );
$dark_green: darken( $medium_green, 15% );



/* Bootstrap Overrides */
.light_green {
  color: $light_green;
}


a {
  color: black;

  &.medium_green {
    color: $medium_green;
  }

  &.dark_green {
    color: $dark_green;
  }
}

a:hover {
  color: black;
  text-decoration: underline;
}

.text-info {
  color: black !important;
}

button {
  font-size: 0.8rem;
  background-color: $medium_green;
  line-height: 2;

  &:hover {
    background-color: darken( $medium_green, 10% );
  }
}





/* Reusable additions */
body {
  font-family: 'Muli', serif;
  font-size: 16px;
  color: black;
}


.alegreyaFont {
  font-family: 'Alegreya', serif;
}

.muliFont {
  font-family: 'Muli', serif;
}

.cardoFont {
  font-family: 'Cardo', serif;
}

.border-right-1 {
  border-right: 1px solid white;
}

.border-radius-0 {
  border-radius: 0;
}

.wrap {
  white-space: normal;
}


/* Susanka specific additions */

// All Page borders
.container.border-1-green-upper {
  border-top: 1px solid $medium_green;
  border-left: 1px solid $medium_green;
  border-right: 1px solid $medium_green;
}

.container.border-1-green-lower { // around footer and copyright
  border-left: 1px solid $medium_green;
  border-right: 1px solid $medium_green;
  border-bottom: 1px solid $medium_green;
}


// Social links
.socialCircle {
  display: inline-block;
  border-radius: 50%;

  width: 25px;
  height: 25px;
  padding: 0.7px;

  background: $light_green;
  text-align: center;
}





/* Header */
.header {
  .navbar-brand {
    font-family: 'Cardo', serif;
    color: black;

    a {
      font-size: 1.73rem; /* 1.5rem ~= 24px */
    }
    span {
      font-size: 1.3rem;
      font-style: italic;
    }
  }

  .navbar-subheader {
    font-family: 'Muli', serif;
    color: black;
  }
}


/* Homepage Hero (aka. Jumbotron) */
.ss-hero {
  position: relative;
  background-color: transparent;
  background-position: center center; 
  background-size: cover; 
  height: 40vw; // Proportional height (Make the div height 40% of the current browser width)
  min-height: 300px;
  max-height: 352px;

  .ss-innerDiv {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 40px;

    padding: 30px;

    background-color: rgba(white, 0.9);
  }


  // Hero Media Queries - Based on current browser window width
  @media( screen and max-width: 1200px) {
    .ss-innerDiv {
      top: 30px;
      bottom: 30px;
      left: 30px;

      width: 300px;
      padding: 20px;

      // background-color: rgba(red, 0.9);
    }
  }

  @media( screen and max-width: 768px) {
    .ss-innerDiv {
      top: 30px;
      bottom: 30px;
      left: 30px;

      width: 300px;
      padding: 20px;

      // background-color: rgba(blue, 0.9);
    }
  }

  @media( screen and max-width: 576px) {
    .ss-innerDiv {
      top: 30px;
      bottom: 30px;
      left: 30px;
      right: 30px;

      padding: 20px;
      max-width: none;

      // background-color: rgba(orange, 0.9);
    }
  }

  @media( screen and max-width: 400px) {
    .ss-innerDiv {
      top: 20px;
      bottom: 20px;
      left: 20px;

      padding: 15px;
      width: 85%;

      // background-color: rgba(violet, 0.9);
    }
  }

}



/* Footer */
footer.footer {
  background-color: $medium_green;

  a {
    color: white !important;
    &:hover {
      color: white;
    }
  }

  .footer-brand {
    font-family: 'Cardo', serif;

    span {
      font-style: italic;
    }
  }

  .socialCircle {
    margin-bottom: 10px;
  }

}

